/*
 Theme Name:   Topsy Turvy Cake Design
 Theme URI:    
 Description:  Twenty Nineteen Child Theme
 Author:       Tapaj Kumar Das
 Author URI:   
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentynineteenchild
*/

/* Making blockquotes stand out */

.entry .entry-content .wp-block-quote:not(.is-large), .entry .entry-content .wp-block-quote:not(.is-style-large) {
    background-color: #eeeeee;
    border-left-width: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    quotes: "\201C""\201D""\2018""\2019";
}

.entry .entry-content .wp-block-quote:not(.is-large):before, .entry .entry-content .wp-block-quote:not(.is-style-large):before {
    color: #bbbbbb;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.entry .entry-content .wp-block-quote:not(.is-large), .entry .entry-content .wp-block-quote:not(.is-style-large) p {
    display: inline;
}

.entry .entry-content .wp-block-quote:not(.is-large), .entry .entry-content .wp-block-quote:not(.is-style-large) cite {
    display: block;
}

/* Only for recipe posts */

/* Removing filters from thumbnail photos*/
.image-filters-enabled .category-recipes .post-thumbnail .post-thumbnail-inner {
    filter: none;
}

.image-filters-enabled .category-recipes .post-thumbnail:before, .image-filters-enabled .category-recipes .post-thumbnail:after {
    display: none;
}

/* Making ingredients stand out */
.category-recipes h2:not(.entry-title, .author-heading):nth-of-type(1):before {
    content: none;
}

.category-recipes h2:not(.entry-title, .author-heading):nth-of-type(1):after, .category-recipes h2:nth-of-type(2):before {
    background: #767676;
    content: "\020";
    display: block;
    height: 2px;
    margin: 1rem 0;
    width: 100%;
}

.category-recipes ul:first-of-type {
    font-style: italic;
}

/* Author bio modifications */
.author-bio .author-heading .avatar {
    height: auto;
    width: auto;
    display: inline-block;
}