/*
 Theme Name:   Twenty Nineteen Dark
 Theme URI:    
 Description:  Twenty Nineteen Child Theme
 Author:       Tapaj Kumar Das
 Author URI:   
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentynineteenchild
*/

/* Setting dark theme and sans-serif fonts */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.6em;

    color: #a7a9be;
    background-color: #0f0e17;
}

h1, h2, h3, h4, h5, h6 {
    color: #fffffe;
}

.site-title a:link, .site-title a:visited {
    color: #fffffe;
}

.main-navigation .main-menu > li > a, .site-header.featured-image .main-navigation a {
    color: #ff8906;
}

/* Only for recipe posts */

/* Removing filters from thumbnail photos*/
.image-filters-enabled .category-recipes .post-thumbnail .post-thumbnail-inner {
    filter: none;
}

.image-filters-enabled .category-recipes .post-thumbnail:before, .image-filters-enabled .category-recipes .post-thumbnail:after {
    display: none;
}

/* Making ingredients stand out */
.category-recipes h2:not(.entry-title):nth-of-type(1):before {
    content: none;
}

.category-recipes h2:not(.entry-title):nth-of-type(1):after, .category-recipes h2:nth-of-type(2):before {
    background: #767676;
    content: "\020";
    display: block;
    height: 2px;
    margin: 1rem 0;
    width: 100%;
}

.category-recipes ul:first-of-type {
    font-style: italic;
}